<%- include('../partials/header') %>

<h2>Superhero List</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <!-- Write the line of EJS to iterate over movies using forEach -->
    <% superheros.forEach(function(s) { %>
      <tr>
        <td>
            <a href="/superheros/<%= s.id %>"><%= s.name %></a>
        </td>
      </tr>
    <% }) %><!-- Close the forEach using EJS here -->
  </tbody>
</table>

<%- include('../partials/header') %>