<%- include('../partials/header') %>

<h2>Enter a New Superhero</h2>
<form action="/superheros" method="POST">
    <label>Name:
        <input type="text" name="name" required>
    </label><br>
    <label>Ability:
        <input type="text" name="ability" required>
    </label><br>
    <label>Nemesis:
        <input type="text" name="nemesis" required>
    </label><br>
    <label>Strength Level:
        <input type ="number" name="strengthLevel" min="0" max="100">
    </label><br>
    <button type="submit">Add Superhero</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>